USE [AC_C19_DATA]
GO
SELECT [department],[municipality]
      ,SUM([1]) AS [1]
      ,SUM([2]) AS [2]
      ,SUM([3]) AS [3]
      ,SUM([4]) AS [4]
      ,SUM([5]) AS [5]
      ,SUM([6]) AS [6]
      ,SUM([7]) AS [7]
      ,SUM([8]) AS [8]
      ,SUM([9]) AS [9]
      ,SUM([10]) AS [10]
      ,SUM([11]) AS [11]
      ,SUM([12]) AS [12]
      ,SUM([13]) AS [13]
      ,SUM([14]) AS [14]
      ,SUM([15]) AS [15]
      ,SUM([16]) AS [16]
      ,SUM([17]) AS [17]
      ,SUM([18]) AS [18]
      ,SUM([19]) AS [19]
      ,SUM([20]) AS [20]
      ,SUM([21]) AS [21]
      ,SUM([22]) AS [22]
      ,SUM([23]) AS [23]
      ,SUM([24]) AS [24]
      ,SUM([25]) AS [25]
      ,SUM([26]) AS [26]
      ,SUM([27]) AS [27]
      ,SUM([28]) AS [28]
      ,SUM([29]) AS [29]
      ,SUM([30]) AS [30]
      ,SUM([31]) AS [31]
      ,SUM([32]) AS [32]
      ,SUM([33]) AS [33]
      ,SUM([34]) AS [34]
      ,SUM([35]) AS [35]
      ,SUM([36]) AS [36]
      ,SUM([37]) AS [37]
      ,SUM([38]) AS [38]
      ,SUM([39]) AS [39]
      ,SUM([40]) AS [40]
      ,SUM([41]) AS [41]
      ,SUM([42]) AS [42]
      ,SUM([43]) AS [43]
      ,SUM([44]) AS [44]
      ,SUM([45]) AS [45]
      ,SUM([46]) AS [46]
      ,SUM([47]) AS [47]
      ,SUM([48]) AS [48]
      ,SUM([49]) AS [49]
      ,SUM([50]) AS [50]
      ,SUM([52]) AS [51]
      ,SUM([52]) AS [52]
  FROM [dbo].[indicator_by_municipality_pivot]
 GROUP BY [department],[municipality]
 ORDER BY [department],[municipality];;