USE [AC_C19_DATA]
GO
SELECT [Date],[AMAZONAS],[ANTIOQUIA],[ARAUCA],[ATLANTICO],[BOGOTA],[BOLIVAR],[BOYACA],[CALDAS],[CAQUETA],[CASANARE],[CAUCA],[CESAR],[CHOCO],[CORDOBA],[CUNDINAMARCA],[GUAINIA],[GUAVIARE],[HUILA],[LA GUAJIRA],[MAGDALENA],[META],[NARIÑO],[NORTE SANTANDER],[PUTUMAYO],[QUINDIO],[RISARALDA],[SAN ANDRES],[SANTANDER],[SUCRE],[TOLIMA],[VALLE DEL CAUCA],[VAUPES],[VICHADA]
  FROM (
	SELECT [date],[department],[value]
	  FROM [dbo].[indicator_by_departament]
	 WHERE [indicator] = 'TB') AS t
 PIVOT (MAX([value]) FOR [department] IN ([AMAZONAS],[ANTIOQUIA],[ARAUCA],[ATLANTICO],[BOGOTA],[BOLIVAR],[BOYACA],[CALDAS],[CAQUETA],[CASANARE],[CAUCA],[CESAR],[CHOCO],[CORDOBA],[CUNDINAMARCA],[GUAINIA],[GUAVIARE],[HUILA],[LA GUAJIRA],[MAGDALENA],[META],[NARIÑO],[NORTE SANTANDER],[PUTUMAYO],[QUINDIO],[RISARALDA],[SAN ANDRES],[SANTANDER],[SUCRE],[TOLIMA],[VALLE DEL CAUCA],[VAUPES],[VICHADA])) AS p
 ORDER BY [Date];
GO